body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20232a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  height: 40px;
  width: 40px;
  margin: 2px;
}

.box:hover {
  filter: brightness(.8);
}

.box:active {
  filter: brightness(5);
}

.on {
  background-color: #61dafb;
}

.off {
  background-color: #D0FFA2;
}
